@keyframes background-pan {
    from {
background-position: 0% center;
    }
    to {
background-position: -200% center;
    }
}



.animated-text {
    background: radial-gradient(ellipse, rgb(123, 31, 162), rgb(103, 58, 183), rgb(244, 143, 177)); /* Define your gradient here */
    background-size: 400% ; /* Increase the background size for the rotation effect */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap; /* Use the text as a mask for the gradient */
    animation: background-pan 3s linear infinite;
  }
  